@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: yekan;
}
@font-face {
  font-family: yekan;
  src: url(./fonts/woff/YekanBakh/Yekan\ Bakh\ Fa-En\ 06\ Bold.woff);
}
/* Custom Scroll Bar CSS */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ab1414;
}

nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
}

nav.sticky {
  background: #ab1414;
  padding: 13px 0;
  border-radius: 35px;
  height: 60px;
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  right: 10px;
}

nav .navbar {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #ab1414;
  font-size: 20px;
}

nav.sticky .menu a {
  color: #fff;
}

nav.sticky .menu a:hover {
  color: #0e2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #fff;
}

/* Side Navigation Menu Button CSS */

nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #fff;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */

.home {
  height: 100vh;
  width: 100%;
  background: url("./Images/back\ \(5\).jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home {
  font-size: 25px;
  color: #0e2431;
}
.text-one {
  font-size: 25px;
  color: #6e93f7;
}

.home .text-two {
  color: #0e2431;
  font-size: 80px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0e2431;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
  border-radius: 10px;
}

/* About Section Styling */

/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */

section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #0e2431;
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #0e2431;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  border-color: #0e2431;
  background-color: #fff;
  color: #ab1414;
}

/* My Skills CSS */

.skills {
  /* background: #0E2431; */
  color: white;
  height: 750px;
  width: 100%;
  background: url("./Images/back-mini\ \(2\).jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.skills .content {
  padding: 40px 0;
  color: white;
}

.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.skills-details .text {
  width: 50%;
  color: white;
}

.skills-details p {
  text-align: justify;
  color: white;
}

.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .num {
  color: white;
  font-size: 80px;
}

.skills-details .experience .exp {
  color: white;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .topic {
  font-size: 20px;
  color: #4070f4;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: #4070f4;
}

/* My Services CSS */

.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #0e2431;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: white;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* Contact Me CSS */

.contact {
  background: #0e2431;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 100%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */

footer {
  background: #0e2431;
  padding: 15px 0;
  text-align: center;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #fff;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */

.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
  scroll-behavior: smooth;
}

/* Responsive Media Query */

@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: #4070f4;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }
  .home .text-three {
    font-size: 33px;
  }
  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
}
.header1 {
  display: flex;
  justify-content: right;
}
.header-b {
  justify-content: left;
  display: flex;
}
.button-h {
  background-color: #0e2431;
  color: #f1f1f1;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin: 3px;
  border: none;
}
.button-h:hover {
  background-color: yellow;
  color: #0e2431;
  width: 100px;
  border: #6e93f7;
  direction: ltr;
  transition-duration: 0.3s;
  display: inline-block;
}
.topic1 {
  font-size: 20px;
  color: black;
}
.title1 {
  color: black;
}
.img-top {
  border-radius: 15px;
}
.img-top:hover {
  transform: translateY(-8px);
  border-radius: 20px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  display: inline-block;
}
.text-two:hover {
  font-size: 90px;
  display: inline-block;
  transition-duration: 0.3s;
  margin: auto;
  transition: all 0.4s ease-in-out;
}
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
/* start footer code */
:root {
  --footer-background: white;
  --text-color: #111420;
  --text-gray: #e1e1e1;
  --text-heading-gray: #b9b9b9;
}
/*? footer reset */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*? footer containers */

footer {
  bottom: 0px;
  background-color: var(--footer-background);
  min-width: 300px;
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 1320px;
  padding: 16px;
}

/*? top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: 16px 0px;
  justify-content: space-between;
}

.footer-line {
  display: block;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #5da8ff, #605dff 50%, #ad63f6);
}

/*? footer subscribe */
.footer-subscribe {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-subscribe > input {
  border: 1px solid var(--text-gray);
  color: var(--text-color);
  min-height: 36px;
  font-size: 1.2rem;
  flex: 1 0 120px;
  padding: 8px 12px;
  border-radius: 8px;
}

.footer-subscribe > button {
  cursor: pointer;
  background-color: var(--text-color);
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  min-width: 120px;
  min-height: 36px;
  flex: 1 0 80px;
  white-space: nowrap;
  padding: 8px 12px;
  border: 0px;
  outline: none;
}

/*? footer columns */
.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex: 2 0 140px;
  width: 100%;
  gap: 16px;
  padding: 24px 8px 16px 8px;
  margin: 0 auto;
  border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 16px;
}

.footer-columns h3 {
  color: var(--footer-heading-gray);
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns > section {
  min-width: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-width: 180px;
  gap: 8px;
}

.footer-logo > svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 50px;
}

/*? Footer bottom */

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--text-gray);
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 16px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom > small {
  font-size: 16px;
  margin: 0 4px;
}

.footer-headline > h2 {
  margin: 0px;
}

.footer-headline > p {
  margin: 12px 0px;
}

/*? socials */

.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

/*? mobile */

@media (max-width: 800px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 8px 32px 8px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
  }
}
